#additional {
  width: 595px;
  text-align: center;
  border-left: 15px solid #b4b7ba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#additional .input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-top: 0.2rem;
}

#additional .input-box label {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

#additional .input-box input {
  width: 350px;
  padding: 0.4rem;
  font-size: 1rem;
  color: black;
  background: white;
  border-radius: 0.2rem;
  margin: 0.5rem;
  transition: 0.5s ease;
}

#additional .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box button {
  margin: 0.7rem;
  padding: 0.7rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: ease 0.5s;
}

.input-box input:hover,
.button-box button:hover {
  box-shadow: 0 0 1rem #636568;
}

.error {
  color: #dc143c;
}

.input-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 350px;
  background: white;
  border-radius: 0.2rem;
  list-style: none;
}

.input-display li {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}
