#additional {
  width: 595px;
  text-align: center;
  border-left: 15px solid #b4b7ba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#additional .input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-top: 0.2rem;
}

#additional .input-box label {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

#additional .input-box input {
  width: 350px;
  padding: 0.4rem;
  font-size: 1rem;
  color: black;
  background: white;
  border-radius: 0.2rem;
  margin: 0.5rem;
  transition: 0.5s ease;
}

#additional .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box button {
  margin: 0.7rem;
  padding: 0.7rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: ease 0.5s;
}

.input-box input:hover,
.button-box button:hover {
  box-shadow: 0 0 1rem #636568;
}

.error {
  color: #dc143c;
}

.input-display {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 400px;
  border-radius: 0.2rem;
  list-style: none;
  counter-reset: counter;
}

.input-container li {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  background: white;
  width: 100%;
  text-align: left;
  counter-increment: counter;
}

.input-container li::before {
  content: counter(counter);
  background: #662974;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  margin: 0.3rem;
  padding: 0.1rem;
}

.input-container li::before {
  background: #de51ff;
}
