.additional-preview {
  background-color: white;
}

.additional-preview h1 {
  background-color: white;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.additional-preview ul {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 1rem;
}

.additional-preview ul li {
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
