@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@300&family=Oxygen&display=swap");

#education {
  width: 595px;
  text-align: center;
  border-left: 15px solid #b4b7ba;
}

#education .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0.4rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

#education .input-box input {
  width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  background: white;
  border-radius: 0.2rem;
  margin: 0.5rem;
  margin-left: 1rem;
  transition: 0.5s ease;
}

#education .input-box label {
  margin-left: 1rem;
}

#education .input-box input:hover,
#education .button:hover {
  box-shadow: 0 0 1rem #636568;
}

#education .button {
  margin: 0.7rem;
  padding: 0.7rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: ease 0.5s;
}
