@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@300&family=Oxygen&display=swap");

#work {
  width: 595px;
  text-align: center;
  border-left: 15px solid #b4b7ba;
}

#work .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0.4rem;
  padding: 0.1rem 0.5rem 0 0.5rem;
}

#work .input-box input {
  width: 240px;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  background: white;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  transition: 0.5s ease;
}

#work .input-box input:hover,
#work .button:hover {
  box-shadow: 0 0 1rem #636568;
}

#work .button {
  margin: 0.7rem;
  padding: 0.7rem;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: ease 0.5s;
}

#work .add-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3f69aa;
  padding: 0.5rem;
  border-left: 15px solid #95dee3;
  border-radius: 5px;
  min-height: 4rem;
}

.title h1 {
  color: white;
  background-color: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  transition: ease 0.5s;
  margin: 0.5rem;
  margin-right: 2rem;
}

.title img {
  position: relative;
  right: 140px;
  padding: 3px;
  border-radius: 0.5rem;
  background-color: #e3f4f4;
  height: 40px;
  width: 40px;
  transition: ease 0.5s;
  cursor: pointer;
}

.title h1:hover,
.title img:hover {
  background-color: #c4dfdf;
  box-shadow: 0 0 1.5rem #c4dfdf;
}

.input-box .input {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.input label {
  padding-left: 0.1rem;
}

section {
  background-color: #98b4d4;
  font-family: "Inter", sans-serif;
}

textarea {
  width: 96%;
  height: 150px;
  font-size: 16px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  resize: none;
  border-radius: 0.23rem;
  transition: ease 0.5s;
}

textarea:focus {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 0.8rem #c4dfdf;
}
